<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">


	<title>配置静态路由</title>

	<!-- Bootstrap core CSS -->
	<!--顶部CSS-->
	<link href="../../assets/css/bootstrap.css" rel="stylesheet">
	<!--external css-->
	<link href="../../assets/font-awesome/css/font-awesome.css" rel="stylesheet"/>
	<!--<link rel="stylesheet" type="text/css" href="assets/css/zabuto_calendar.css">-->
	<!--右上角提示框-->
	<link rel="stylesheet" type="text/css" href="../../assets/js/gritter/css/jquery.gritter.css"/>

	<!--<link rel="stylesheet" type="text/css" href="assets/lineicons/style.css">-->

	<!-- Custom styles for this template -->
	<!--整体CSS-->
	<link href="../../assets/css/style.css" rel="stylesheet">

	<!--<link href="assets/css/style-responsive.css" rel="stylesheet">-->

	<!--<script src="assets/js/chart-master/Chart.js"></script>-->

	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>-->
	<!--<script src="../https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>-->
	<!--<script src="../https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>-->
	<!--<![endif]-->

	<style type="text/css">
		.form-group {
			width: 745px;
		}

		.col-sm-10 {
			margin-left: 130px;
			width: 300px;
		}

		.control-label {
			width: 170px;
		}

		/*!* 表单input *!
		.form-control round-form{
			width: 200px;
		}*/

		/* 连接设备信息CSS */
		.notify-row {
			font-size: 18px;
			color: black;
		}

		.err {
			/*margin-left: 50px;*/
			font-size: 15px;
			color: red;
		}
	</style>
</head>

<body>
<div id="app">
	<section id="container">
		<!--header start-->
		<header class="header black-bg">
			<!--列表隐藏图标-->
			<div class="sidebar-toggle-box">
				<div class="fa fa-bars tooltips" data-placement="right" data-original-title="隐藏列表"></div>
			</div>
			<!--logo start-->
			<a :href="localhostPath+'/page/main.html'" class="logo"><b>网络维护系统</b></a>
			<!--logo end-->
			<div class="notify-row">
				<span v-text="host"></span>
			</div>

			<div class="top-menu">
				<ul class="nav pull-right top-menu">
					<li><a class="logout" :href="localhostPath+'/page/lock_screen.html'" style="color:#000;">锁定</a></li>
					<li><a class="logout" href="javascript:" @click="logout" style="color:#000;">退出</a></li>
				</ul>
			</div>
		</header>
		<!--header end-->

		<!--sidebar start-->
		<!-- 列表 -->
		<aside>
			<div id="sidebar" class="nav-collapse" style="overflow: auto;">
				<!-- sidebar menu start-->

				<ul class="sidebar-menu" id="nav-accordion">
					<p class="centered"><a href="#"><img src="../../assets/img/ui-sam.jpg" class="img-circle"
														 width="60"></a></p>
					<h5 class="centered" v-text="userName"></h5>

					<div v-for="item in menu">

						<li :class="mt==item.title.menuId ? 'mt' : 'sub-menu'">
							<a :href="item.title.menuId == '1' ? localhostPath + item.title.menuURL : item.title.menuURL"
							   :class="a1==item.title.menuId ? 'active' : ''">
								<i :class="item.title.menuCSS"></i>
								<span v-text="item.title.menuName"></span>
							</a>

							<ul class="sub" v-for="a in item.other" :key="a.menuId">
								<li :class="a2==a.menuId ? 'active' : ''">
									<a :href="localhostPath+a.menuURL" v-text="a.menuName"></a>
								</li>
							</ul>
						</li>
					</div>

				</ul>
				<!-- sidebar menu end-->
			</div>
		</aside>
		<!--sidebar end-->


		<section id="main-content">
			<section class="wrapper">
				<h3><i class="fa fa-angle-right"></i> 配置静态路由</h3>
				<div class="row mt">
					<div class="col-lg-12">
						<!-- 配置静态路由 -->
						<div class="form-panel" style="font-size: 18px; width: 750px; margin: auto">
							<h4 class="mb"><i class="fa fa-angle-right"></i> 添加静态路由</h4>
							<form class="form-horizontal style-form">
								<div class="form-group">
									<label class="col-sm-2 col-sm-2 control-label">目的网段</label>
									<div class="col-sm-10">
										<input type="text" v-model.trim="destinationNetwork"
											   @change="checkDestinationNetwork" class="form-control round-form">
									</div>
									<span class="err" v-text="msgDestinationNetwork"></span>
								</div>
								<div class="form-group">
									<label class="col-sm-2 col-sm-2 control-label">子网掩码</label>
									<div class="col-sm-10">
										<input type="text" v-model.trim="subnetMask" @change="checkSubnetMask"
											   class="form-control round-form">
										<!--<span class="help-block">A block of help text that breaks onto a new line and may extend beyond one line.</span>-->
									</div>
									<span class="err" v-text="msgSubnetMask"></span>
								</div>
								<div class="form-group">
									<label class="col-sm-2 col-sm-2 control-label">下一跳地址</label>
									<div class="col-sm-10">
										<input type="text" v-model.trim="nextHopAddress" @change="checkNextHopAddress"
											   class="form-control round-form">
									</div>
									<span class="err" v-text="msgNextHopAddress"></span>
								</div>
								<div class="form-group">
									<label class="col-sm-2 col-sm-2 control-label">输出接口</label>
									<div class="col-sm-10">
										<input type="text" v-model.trim="outputInterface" @change="checkOutputInterface"
											   class="form-control round-form">
									</div>
									<span class="err" v-text="msgOutputInterface"></span>
								</div>
								<div class="form-group">
									<label class="col-sm-2 col-sm-2 control-label">管理距离（AD）</label>
									<div class="col-sm-10">
										<input type="text" v-model.trim="AD" @change="checkAD"
											   class="form-control round-form">
									</div>
									<span class="err" v-text="msgAD"></span>
								</div>
								<div class="form-group">
									<label class="col-lg-2 col-sm-2 control-label"></label>
									<div class="col-sm-10">
										<!--<input type="submit" class="form-control round-form">-->
										<button type="button" @click="staticRouter" class="btn btn-theme"
												style="color: black; margin-left: 90px;">确认配置
										</button>
									</div>
								</div>

							</form>
						</div>


						<!-- IPv6 -->
						<div class="form-panel" style="font-size: 18px; width: 750px; margin: 20px auto">
							<h4 class="mb"><i class="fa fa-angle-right"></i> 添加默认路由（缺省路由）</h4>
							<form class="form-horizontal style-form">
								<div class="form-group">
									<label class="col-sm-2 col-sm-2 control-label">下一跳地址</label>
									<div class="col-sm-10">
										<input type="text" v-model.trim="nextHopAddress1" @change="checkNextHopAddress1"
											   class="form-control round-form">
									</div>
									<span class="err" v-text="msgNextHopAddress1"></span>
								</div>
								<div class="form-group">
									<label class="col-sm-2 col-sm-2 control-label">输出接口</label>
									<div class="col-sm-10">
										<input type="text" v-model.trim="outputInterface1"
											   @change="checkOutputInterface1" class="form-control round-form">
									</div>
									<span class="err" v-text="msgOutputInterface1"></span>
								</div>
								<div class="form-group">
									<label class="col-lg-2 col-sm-2 control-label"></label>
									<div class="col-sm-10">
										<!--<input type="submit" class="form-control round-form">-->
										<button type="button" @click="defaultRoute" class="btn btn-theme"
												style="color: black; margin-left: 90px;">确认配置
										</button>
									</div>
								</div>
							</form>
						</div>
					</div><!-- col-lg-12-->
				</div><!-- /row -->


			</section>
		</section>

		<!--main content end-->
		<!--footer start-->
		<footer class="site-footer" style="background: coral">
			<div class="text-center" style="font-size: 15px">
				16&nbsp;软件工程1班 &nbsp;&nbsp;&nbsp;&nbsp;<a href="../main.html" style="color: white">王彦清&nbsp;&nbsp;设计</a>
				<a href="StaticRouter.html#" class="go-top">
					<i class="fa fa-angle-up"></i>
				</a>
			</div>
		</footer>
		<!--footer end-->
	</section>
</div>


<script src="../../js/vue.min.js"></script>
<script src="../../js/vue-resource.js"></script>
<script language="JavaScript">

	var vm = new Vue({
		el: '#app',
		data: {
			menu: [
				{
					other: [],
					title: {
						menuId: null,
						menuName: "",
						menuURL: ""
					}
				},
			],
			userId: "",
			userName: "",
			host: "",

			// 目的网段
			destinationNetwork: "",
			// 子网掩码
			subnetMask: "",
			// 下一跳地址
			nextHopAddress: "",
			// 输出接口
			outputInterface: "",
			// 管理距离
			AD: "",
			// 下一跳地址 缺省路由
			nextHopAddress1: "",
			// 输出接口 缺省路由
			outputInterface1: "",


			msgDestinationNetwork: "",
			msgSubnetMask: "",
			msgNextHopAddress: "",
			msgOutputInterface: "",
			msgAD: "",
			msgNextHopAddress1: "",
			msgOutputInterface1: "",


			localhostPath: "",
			mt: "1",
			a1: "2",
			a2: "2.3"

		},
		created() {
			// created 生命周期函数
			this.getPath();
			this.getLoginUser();
			this.getMenu();
			this.getHost();
		},
		methods: {
			// 获取访问根地址
			getPath() {
				let path = window.location.href;
				let pathName = window.document.location.pathname;
				let pos = path.indexOf(pathName);
				this.localhostPath = path.substring(0, pos);
				this.localhostPath = this.localhostPath + "/Network_Maintenance_System";
			},
			// 获取菜单
			getMenu() {
				this.$http.get(this.localhostPath + "/menu").then(result => {
					this.menu = result.body.menu;
				});
			},
			// 获取当前登录用户信息
			getLoginUser() {
				this.$http.get(this.localhostPath + "/user/getUserInformation").then(result => {
					if (result.body.state === true) {
						this.userName = result.body.userName;
						this.userId = result.body.userId;
					} else {
						alert("对不起！您尚未登录！");
						window.location.href = "../../index.html";
					}
				})
			},
			// 用户登录退出
			logout() {
				this.$http.get(this.localhostPath + "/user/logout").then(result => {
					window.location.href = "../../index.html";
				})
			},
			// 获取Telnet连接信息
			getHost() {
				this.$http.get(this.localhostPath + "/telnet/getHost").then(result => {
					if (result.body.state === true) {
						if (result.body.host.identifier === 1) {
							this.host = "连接设备：  路由器 "
						} else if (result.body.host.identifier === 2) {
							this.host = "连接设备：  交换机 "
						}
						this.host = this.host + result.body.host.hostAddress + " : " + result.body.host.port;
					} else {
						if (result.body.errNum === 1) {
							alert("登录超时！");
							window.location.href = "../../index.html";
						} else {
							this.host = "连接设备：  未连接！";
						}
					}
				})
			},

			// 配置静态路由
			staticRouter() {
				let b1 = this.checkDestinationNetwork();
				let b2 = this.checkSubnetMask();
				let b3 = this.checkNextHopAddress();
				let b4 = this.checkOutputInterface();
				let b5 = this.checkAD();

				if (b1 && b2 && b3 && b4 && b5) {

					this.$http.post(this.localhostPath + "/routerBasic/staticRouter", {
						destinationNetwork: this.destinationNetwork,
						subnetMask: this.subnetMask,
						nextHopAddress: this.nextHopAddress,
						outputInterface: this.outputInterface,
						AD: this.AD
					}, {emulateJSON: true}).then(
						result => {
							if (result.body.state === true) {

								alert("静态路由配置成功！");
								window.location.href = this.localhostPath + "/page/RouterBasic/StaticRouter.html";
							} else {
								if (result.body.errNum === 1) {
									alert("登录超时！");
									window.location.href = "../../index.html";
								} else if (result.body.errNum === 2) {
									alert("Telnet 未连接！");
									window.location.href = "../main.html";
								} else if (result.body.errNum === 3) {
									alert("当前连接设备为交换机，无法操作！");
									window.location.href = "../main.html";
								} else {
									alert("静态路由配置失败");
									window.location.href = this.localhostPath + "/page/RouterBasic/StaticRouter.html";
								}
							}
						}
					);
				}
			},
			// 配置默认路由
			defaultRoute() {
				let b1 = this.checkNextHopAddress1();
				let b2 = this.checkOutputInterface1();

				if (b1 && b2) {

					this.$http.post(this.localhostPath + "/routerBasic/defaultRoute", {
						nextHopAddress: this.nextHopAddress1,
						outputInterface: this.outputInterface1,

					}, {emulateJSON: true}).then(
						result => {
							if (result.body.state === true) {

								alert("默认路由配置成功！");
								window.location.href = this.localhostPath + "/page/RouterBasic/StaticRouter.html";
							} else {

								if (result.body.errNum === 1) {
									alert("登录超时！");
									window.location.href = "../../index.html";
								} else if (result.body.errNum === 2) {
									alert("Telnet 未连接！");
									window.location.href = "../main.html";
								} else if (result.body.errNum === 3) {
									alert("当前连接设备为交换机，无法操作！");
									window.location.href = "../main.html";
								} else {
									alert("默认路由配置失败");
									window.location.href = this.localhostPath + "/page/RouterBasic/StaticRouter.html";
								}
							}
						}
					);
				}

			},

			// 检查目的网段
			checkDestinationNetwork: function () {
				let ipTest = /^((25[0-5]|2[0-4]\d|[01]?\d\d?)\.){3}(25[0-5]|2[0-4]\d|[01]?\d\d?)$/;

				if (this.destinationNetwork === null || this.destinationNetwork.trim().length === 0 || this.destinationNetwork === undefined) {
					this.msgDestinationNetwork = "目的网段不能为空";
					return false;

				} else if (!ipTest.test(this.destinationNetwork)) {
					this.msgDestinationNetwork = "请输入正确的IP地址";
					return false;
				} else {
					this.msgDestinationNetwork = "";
					return true;
				}

			},

			// 检查子网掩码
			checkSubnetMask: function () {
				let maskTest = /^(254|252|248|240|224|192|128|0)\.0\.0\.0$|^(255\.(254|252|248|240|224|192|128|0)\.0\.0)$|^(255\.255\.(254|252|248|240|224|192|128|0)\.0)$|^(255\.255\.255\.(254|252|248|240|224|192|128|0))$/;

				if (this.subnetMask === null || this.subnetMask.trim().length === 0 || this.subnetMask === undefined) {
					this.msgSubnetMask = "子网掩码不能为空";
					return false;

				} else if (!maskTest.test(this.subnetMask)) {
					this.msgSubnetMask = "请输入正确的子网掩码";
					return false;
				} else {
					this.msgSubnetMask = "";
					return true;
				}
			},
			// 检查下一跳地址
			checkNextHopAddress: function () {

				let ipTest = /^((25[0-5]|2[0-4]\d|[01]?\d\d?)\.){3}(25[0-5]|2[0-4]\d|[01]?\d\d?)$/;

				if (this.nextHopAddress.trim().length > 0) {
					if (!ipTest.test(this.nextHopAddress)) {
						this.msgNextHopAddress = "请输入正确的下一跳地址";
						return false;
					} else {
						this.msgNextHopAddress = "";
						return true;
					}
				} else {
					this.msgNextHopAddress = "";
					return true;
				}

			},
			// 检查输出接口
			checkOutputInterface: function () {

				if (this.nextHopAddress.trim().length === 0) {
					if (this.outputInterface === null || this.outputInterface.trim().length === 0 || this.outputInterface === undefined) {
						this.msgOutputInterface = "下一跳地址/输出接口 不能为空";
						return false;

					} else {
						this.msgOutputInterface = "";
						return true;
					}
				} else {
					this.msgOutputInterface = "";
					return true;
				}

			},
			// 检查管理距离
			checkAD: function () {
				let intTest = /^[0-9]*[1-9][0-9]*$/;

				if (this.AD.trim().length > 0) {
					if (!intTest.test(this.AD)) {
						this.msgAD = "请输入正确的管理距离";
						return false;
					} else {
						this.msgAD = "";
						return true;
					}
				} else {
					this.msgAD = "";
					return true;
				}

			},

			// 检查下一跳地址（缺省路由）
			checkNextHopAddress1: function () {
				let ipTest = /^((25[0-5]|2[0-4]\d|[01]?\d\d?)\.){3}(25[0-5]|2[0-4]\d|[01]?\d\d?)$/;

				if (this.nextHopAddress1.trim().length > 0) {
					if (!ipTest.test(this.nextHopAddress1)) {
						this.msgNextHopAddress1 = "请输入正确的下一跳地址";
						return false;
					} else {
						this.msgNextHopAddress1 = "";
						return true;
					}
				} else {
					this.msgNextHopAddress1 = "";
					return true;
				}
			},
			// 输出接口（缺省路由）
			checkOutputInterface1: function () {
				if (this.nextHopAddress1.trim().length === 0) {
					if (this.outputInterface1 === null || this.outputInterface1.trim().length === 0 || this.outputInterface1 === undefined) {
						this.msgOutputInterface1 = "下一跳地址/输出接口 不能为空";
						return false;

					} else {
						this.msgOutputInterface1 = "";
						return true;
					}
				} else {
					this.msgOutputInterface1 = "";
					return true;
				}
			}

		}

	});


</script>


<!-- js placed at the end of the document so the pages load faster -->
<!--<script src="assets/js/jquery.js"></script>-->


<script src="../../assets/js/jquery-1.8.3.min.js"></script>
<script src="../../assets/js/bootstrap.min.js"></script>
<script class="include" type="text/javascript" src="../../assets/js/jquery.dcjqaccordion.2.7.js"></script>
<script src="../../assets/js/jquery.scrollTo.min.js"></script>


<!--<script src="assets/js/jquery.nicescroll.js" type="text/javascript"></script>-->
<!--<script src="assets/js/jquery.sparkline.js"></script>-->


<!--common script for all pages-->
<script src="../../assets/js/common-scripts.js"></script>

<!-- 右上角提示框-->
<!--<script type="text/javascript" src="assets/js/gritter/js/jquery.gritter.js"></script>-->

<!--<script type="text/javascript" src="assets/js/gritter-conf.js"></script>-->

<!--script for this page-->
<!--<script src="assets/js/sparkline-chart.js"></script>-->
<!--<script src="assets/js/zabuto_calendar.js"></script>-->

</body>
</html>
