<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>主页面</title>

	<!-- Bootstrap core CSS -->
	<!--顶部CSS-->
	<link href="../assets/css/bootstrap.css" rel="stylesheet">
	<!--external css-->
	<link href="../assets/font-awesome/css/font-awesome.css" rel="stylesheet"/>
	<!--<link rel="stylesheet" type="text/css" href="assets/css/zabuto_calendar.css">-->
	<!--右上角提示框-->
	<link rel="stylesheet" type="text/css" href="../assets/js/gritter/css/jquery.gritter.css"/>

	<!--<link rel="stylesheet" type="text/css" href="assets/lineicons/style.css">-->

	<!-- Custom styles for this template -->
	<!--整体CSS-->
	<link href="../assets/css/style.css" rel="stylesheet">

	<!--<link href="assets/css/style-responsive.css" rel="stylesheet">-->

	<!--<script src="assets/js/chart-master/Chart.js"></script>-->

	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>-->
	<!--<script src="../https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	<script src="../https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>-->
	<!--[endif]-->

	<style type="text/css">
		input {
			background-color: rgba(255, 255, 255, 0.2);
			margin-left: 300px;
		}

		.form-group {
			width: 745px;
		}

		.col-sm-10 {
			width: 300px;
		}

		.label-css {
			margin-left: -280px;
		}

		.notify-row {
			font-size: 18px;
			color: black;
		}

		.err1 {
			margin-left: 350px;
			font-size: 14px;
			color: red;
		}

		.err2 {
			margin-left: 447px;
			font-size: 14px;
			color: red;
		}
	</style>

</head>

<body>
<div id="app">
	<section id="container">
		<!--header start-->
		<header class="header black-bg">
			<!--列表隐藏图标-->
			<div class="sidebar-toggle-box">
				<div class="fa fa-bars tooltips" data-placement="right" data-original-title="隐藏列表"></div>
			</div>
			<!--logo start-->
			<a :href="localhostPath+'/page/main.html'" class="logo"><b>网络维护系统</b></a>
			<!--logo end-->
			<div class="notify-row">
				<span v-text="host"></span>
			</div>

			<div class="top-menu">
				<ul class="nav pull-right top-menu">
					<li><a class="logout" :href="localhostPath+'/page/lock_screen.html'" style="color:#000;">锁定</a></li>
					<li><a class="logout" href="javascript:" @click="logout" style="color:#000;">退出</a></li>
				</ul>
			</div>
		</header>
		<!--header end-->


		<!--sidebar start-->
		<!-- 列表 -->
		<aside>
			<div id="sidebar" class="nav-collapse" style="overflow: auto;">
				<!-- sidebar menu start-->

				<ul class="sidebar-menu" id="nav-accordion">
					<p class="centered"><a href="#"><img src="../assets/img/ui-sam.jpg" class="img-circle"
														 width="60"></a></p>
					<h5 class="centered" v-text="userName"></h5>

					<div v-for="item in menu">

						<li :class="mt==item.title.menuId ? 'mt' : 'sub-menu'">
							<a :href="item.title.menuId == '1' ? localhostPath + item.title.menuURL : item.title.menuURL"
							   :class="a1==item.title.menuId ? 'active' : ''">
								<i :class="item.title.menuCSS"></i>
								<span v-text="item.title.menuName"></span>
							</a>

							<ul class="sub" v-for="a in item.other" :key="a.menuId">
								<li><a :href="localhostPath+a.menuURL" v-text="a.menuName"></a></li>

							</ul>
						</li>

					</div>

				</ul>
				<!-- sidebar menu end-->
			</div>
		</aside>
		<!--sidebar end-->


		<section id="main-content">
			<!--<section class="wrapper" style="background:#0099CC; text-align: center">-->
			<section class="wrapper"
					 style="height:1000px; background-image: url(../img/header.png);background-size:100% 50%">
				<div class="row mt">
					<div class="col-lg-12">
						<div class="form-panel"
							 style="background-color: rgba(0, 0, 0, 0.6); color: white; font-size: 18px; width: 750px; margin: 110px auto">
							<h4 class="mb"><i class="fa fa-angle-right"></i> 连接设备（Telnet）</h4>
							<form class="form-horizontal style-form">
								<div class="form-group">
									<!-- col-sm-2 col-sm-2 control-label -->
									<label class="" style="margin-left: -600px">选择设备</label>
									<div class="col-sm-10" style="font-size: 18px; margin-left: 320px">
										路由器：<input v-model="identifier" type="radio" value="1"
												   style="height: 15px; width: 15px">
										&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
										交换机：<input v-model="identifier" type="radio" value="2"
												   style="height: 15px; width: 15px">
									</div>
								</div>
								<div class="form-group">
									<label class="label-css">主机地址（Host Address）</label>
									<div class="col-sm-10">
										<input type="text" class="form-control round-form" v-model.trim="hostAddress"
											   @change="checkHostAddress"/>

									</div>
									<span class="err1" v-text="msgHostAddress"></span>
								</div>
								<div class="form-group">
									<label class="label-css">端口号（Port）</label>
									<div class="col-sm-10">
										<input type="text" class="form-control round-form" v-model.trim="port"
											   @change="checkPort"/>

									</div>
									<span class="err2" v-text="msgPort"></span>
								</div>


								<div class="form-group">
									<label class="col-lg-2 col-sm-2 control-label"></label>
									<div class="col-sm-10">
										<!--<input type="submit" class="form-control round-form">-->
										<button type="button" class="btn btn-theme" @click="telnet"
												style="color: black; margin-left: 190px">确认连接
										</button>
									</div>
								</div>
							</form>
						</div>
					</div><!-- col-lg-12-->
				</div><!-- /row -->

			</section>
		</section>

		<!--main content end-->
		<!--footer start-->
		<footer class="site-footer" style="background: coral">
			<div class="text-center" style="font-size: 15px; margin-left: 160px">
				16&nbsp;软件工程1班 &nbsp;&nbsp;&nbsp;&nbsp;<a :href="localhostPath+'/page/main.html'" style="color: white">王彦清&nbsp;&nbsp;设计</a>
				<a :href="localhostPath+'/page/main.html#'" class="go-top">
					<i class="fa fa-angle-up"></i>
				</a>
			</div>
		</footer>
		<!--footer end-->
	</section>
</div>
<script src="../js/vue.min.js"></script>
<script src="../js/vue-resource.js"></script>
<!--<script src="../js/vue-router.js"></script>-->
<script language="JavaScript">
	var vm = new Vue({
		el: '#app',
		data: {
			menu: [
				{
					other: [],
					title: {
						menuId: null,
						menuName: "",
						menuURL: ""
					}
				},
			],
			userId: "",
			userName: "",
			hostAddress: "",
			port: null,
			// 默认选择为 1
			identifier: 1,
			host: "",
			msgHostAddress: "",
			msgPort: "",
			localhostPath: "",

			a1: "1",
			mt: "1"
		},
		created() {
			// created 生命周期函数
			this.getPath();
			this.getLoginUser();
			this.getMenu();
			this.getHost();
		},
		methods: {
			// 获取访问根地址
			getPath() {
				let path = window.location.href;
				let pathName = window.document.location.pathname;
				let pos = path.indexOf(pathName);
				this.localhostPath = path.substring(0, pos);
				this.localhostPath = this.localhostPath + "/Network_Maintenance_System";
			},
			// 获取菜单
			getMenu() {
				this.$http.get(this.localhostPath + "/menu").then(result => {
					this.menu = result.body.menu;
				});
			},
			// 获取当前登录用户信息
			getLoginUser() {
				this.$http.get(this.localhostPath + "/user/getUserInformation").then(result => {
					if (result.body.state === true) {
						this.userName = result.body.userName;
						this.userId = result.body.userId;
					} else {
						// console.log("用户信息获取失败");
						alert("对不起！您尚未登录！");
						window.location.href = "../index.html";
					}
				})
			},
			// 用户登录退出
			logout() {
				this.$http.get(this.localhostPath + "/user/logout").then(result => {
					window.location.href = "../index.html";
				})
			},
			// Telnet 连接设备
			telnet() {
				let b1 = this.checkHostAddress();
				let b2 = this.checkPort();

				if (b1 && b2) {
					this.$http.post(this.localhostPath + "/telnet/telnetEquipment", {
						hostAddress: this.hostAddress,
						port: this.port,
						identifier: this.identifier,

					}, {emulateJSON: true}).then(
						result => {
							console.log(result.body.state);
							if (result.body.state === true) {

								alert("Telnet 连接成功");
								window.location.href = this.localhostPath + "/page/main.html";
							} else {
								if (result.body.errNum === 1) {
									alert("登录超时！");
									window.location.href = "../index.html";
								} else {
									alert("Telnet 连接失败");
									window.location.href = this.localhostPath + "/page/main.html";
								}
							}
						}
					);
				}
			},
			// 获取Telnet连接信息
			getHost() {
				this.$http.get(this.localhostPath + "/telnet/getHost").then(result => {
					if (result.body.state === true) {
						if (result.body.host.identifier === 1) {
							this.host = "连接设备：  路由器 "
						} else if (result.body.host.identifier === 2) {
							this.host = "连接设备：  交换机 "
						}
						this.host = this.host + result.body.host.hostAddress + " : " + result.body.host.port;
					} else {
						if (result.body.errNum === 1) {
							alert("登录超时！");
							window.location.href = "../index.html";
						} else {
							this.host = "连接设备：  未连接！";
						}
					}
				})
			},
			// 检查HostAddress
			checkHostAddress: function () {
				let ipTest = /^((25[0-5]|2[0-4]\d|[01]?\d\d?)\.){3}(25[0-5]|2[0-4]\d|[01]?\d\d?)$/;

				if (this.hostAddress === null || this.hostAddress.trim().length === 0 || this.hostAddress === undefined) {
					this.msgHostAddress = "主机地址不能为空";
					return false;
				} else if (!ipTest.test(this.hostAddress)) {

					this.msgHostAddress = "请输入正确的主机地址";
					return false;
				} else {
					this.msgHostAddress = "";
					return true;
				}
			},
			// 检查HostPort
			checkPort: function () {
				let intTest = /^[0-9]*[1-9][0-9]*$/;

				if (this.port === null || this.port.trim().length === 0 || this.port === undefined) {
					this.msgPort = "端口号不能为空";
					return false;
				} else if (!intTest.test(this.port)) {
					this.msgPort = "请输入正确的端口号";
					return false;
				} else if (this.port <= 0 || this.port > 65535) {
					this.msgPort = "请输入正确的端口号";
					return false;
				} else {
					this.msgPort = "";
					return true;
				}
			}
		}
	});
</script>


<!-- js placed at the end of the document so the pages load faster -->
<!--<script src="assets/js/jquery.js"></script>-->


<script src="../assets/js/jquery-1.8.3.min.js"></script>
<script src="../assets/js/bootstrap.min.js"></script>
<script class="include" type="text/javascript" src="../assets/js/jquery.dcjqaccordion.2.7.js"></script>
<script src="../assets/js/jquery.scrollTo.min.js"></script>


<!--<script src="assets/js/jquery.nicescroll.js" type="text/javascript"></script>-->
<!--<script src="assets/js/jquery.sparkline.js"></script>-->


<!--common script for all pages-->
<script src="../assets/js/common-scripts.js"></script>

<!-- 右上角提示框-->
<script type="text/javascript" src="../assets/js/gritter/js/jquery.gritter.js"></script>

<!--<script type="text/javascript" src="assets/js/gritter-conf.js"></script>-->

<!--script for this page-->
<!--<script src="assets/js/sparkline-chart.js"></script>-->
<!--<script src="assets/js/zabuto_calendar.js"></script>-->

<script type="text/javascript">
	$(document).ready(function () {
		var unique_id = $.gritter.add({
			// (string | mandatory) the heading of the notification
			title: '欢迎您! 管理员',
			// (string | mandatory) the text inside the notification
			text: '最近降温，及时添衣，注意保暖哦！',
			// (string | optional) the image to display on the left
			image: '../assets/img/ui-sam.jpg',
			// (bool | optional) if you want it to fade out on its own or just sit there
			// 自动关闭
			sticky: false,
			// (int | optional) the time you want it to be alive for before fading out
			time: 2000,
			// (string | optional) the class name you want to apply to that specific message
			class_name: 'my-sticky-class'
		});

		return false;
	});
</script>

<!--<script type="application/javascript">
	$(document).ready(function () {
		$("#date-popover").popover({html: true, trigger: "manual"});
		$("#date-popover").hide();
		$("#date-popover").click(function (e) {
			$(this).hide();
		});

		$("#my-calendar").zabuto_calendar({
			action: function () {
				return myDateFunction(this.id, false);
			},
			action_nav: function () {
				return myNavFunction(this.id);
			},
			ajax: {
				url: "show_data.php?action=1",
				modal: true
			},
			legend: [
				{type: "text", label: "Special event", badge: "00"},
				{type: "block", label: "Regular event", }
			]
		});
	});


	function myNavFunction(id) {
		$("#date-popover").hide();
		var nav = $("#" + id).data("navigation");
		var to = $("#" + id).data("to");
		console.log('nav ' + nav + ' to: ' + to.month + '/' + to.year);
	}
</script>-->


</body>
</html>
